<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="catalog" translate="label" sortOrder="10">
            <label>Catalog</label>
        </tab>
        <section id="practice" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Practice</label>
            <tab>catalog</tab>
            <resource>NTTData_Practice::practice_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Test</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                
                <field id="limit" translate="label" type="text"  sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Limit</label>
                    <comment>Enter number, maximum 100, minimum 1</comment>
                    <validate>required-entry validate-number validate-number-range number-range-1-100</validate>
                   
                </field>

                <field id="order_field" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Field</label>
                     <source_model>NTTData\Practice\Model\Config\Source\OrderField</source_model> 
                </field>

                <field id="order_direction" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Direction</label>
                    <source_model>NTTData\Practice\Model\Config\Source\OrderDirection</source_model> 
                </field>
            </group>
        </section>
    </system>
</config>